{% comment %} 
$ python -c "import django; print(django.__path__)"
-> /root/Project/Test/myvenv/lib/python3.6/site-packages/django
/root/Project/Test/myvenv/lib/python3.6/site-packages/django/contrib/admin/templates/admin/base_site.html
{% endcomment %}

{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Polls Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}